contourpy==1.1.1
cycler==0.11.0
fonttools==4.42.1
importlib-resources==6.1.0
keyboard==0.13.5
kiwisolver==1.4.5
matplotlib==3.7.3
numpy==1.24.4
opencv-python==4.8.1.78
packaging==23.1
Pillow==7.0.0
pyFirmata==1.1.0
pyparsing==3.1.1
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyserial==3.5
python-dateutil==2.8.2
six==1.16.0
spinnaker-python @ file:///C:/Users/Public/Documents/spinnaker_sdk/spinnaker_python-2.7.0.128-cp38-cp38-win_amd64.whl#sha256=411ba83b7af90e03aacaaffede25a7570379eb63a94d901827337ac6d3a2844d
zipp==3.17.0
